body {
    font-family: Arial, sans-serif;
    font-size: 17px;
}
#titre {
    border: 2px solid #4aa4ce;
    width : 440px;
    margin : 40px;
    padding : 4px;
    text-align: center;
}
/* Styles de base pour le lien */
a {
    color: black; /* Couleur initiale des liens */
    text-decoration: none; /* Supprimer le soulignement par défaut */
    position: relative; /* Permet de positionner le pseudo-élément absolument par rapport à son parent */
  }
  
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5px; /* Positionner le soulignement en dessous du texte */
    width: 100%;
    height: 2px; /* Hauteur du soulignement */
    background-color: #92CBE5; /* Couleur initiale du soulignement */
    transition: background-color 0.5s ease; /* Transition de la couleur du soulignement */
  }
  
  a:hover::after {
    background-color: #4AA4CE; /* Couleur du soulignement au survol */
  }
  
  img{
    border: 1px solid #4AA4CE;
  }