

.visible,
.hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s linear, height .2s linear;
  height: 200px;
  background-color: #D0EDE2;
  border-radius : 5px;
  padding:10px;
  border: 1px solid #1B1FA8;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: visibility 0s .2s, opacity .2s linear, height .2s linear;
  background-color: #D0EDE2;
  border-radius : 5px;
  padding:10px;
  border: 1px solid #1B1FA8;
}
.visible > div,
.hidden > div {
  /* Put any padding, border, min-height, etc. here. */
  
}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s .2s;
}
